
body { 
      color: #00b3e6;
}

div {
  width: 700; 
  margin: auto;
  font-family: "Helvetica Neue"
  background-color: #00b3e6
  padding: 30px;
}

#main-header {
  font-size: 22px;
  color:red;
}

.perspective-questions {
  font-style:italic;
}
